# API
DATABASE_URL=postgres://flurryuser:flurrypassword@localhost:5432/flurrydb
AWS_REGION=<AWS_REGION>
COGNITO_USER_POOL_ID=<COGNITO_USER_POOL_ID>
COGNITO_APP_CLIENT_ID=<COGNITO_APP_CLIENT_ID>
COGNITO_DOMAIN=<COGNITO_DOMAIN>
COGNITO_CALLBACK_URL=http://localhost:3000/callback
SERVER_SECRET_KEY=<SERVER_SECRET_KEY>
CLOUDFLARE_ACCOUNT_ID=<CLOUDFLARE_ACCOUNT_ID>
CLOUDFLARE_API_KEY=<CLOUDFLARE_API_KEY>
CLOUDFLARE_STREAM_WEBHOOK_PATH="/streamWebhookHandler"
CLOUDFLARE_CUSTOM_URL="<CLOUDFLARE_CUSTOM_URL>"

# Client
VITE_APP_BASE_URL=https://app.flurry.town
VITE_HTTP_LINK=https://api.flurry.town/graphql
VITE_WS_LINK=wss://api.flurry.town/graphql
VITE_COGNITO_USER_POOL_ID=<VITE_COGNITO_USER_POOL_ID>
VITE_COGNITO_APP_CLIENT_ID=<VITE_COGNITO_APP_CLIENT_ID>
VITE_COGNITO_DOMAIN=<VITE_COGNITO_DOMAIN>
VITE_COGNITO_CALLBACK_URL=<VITE_COGNITO_CALLBACK_URL>

# Homepage
NEXT_PUBLIC_APP_URL=https://app.flurry.town

# Cloudflare
VITE_CLOUDFLARE_CUSTOMER_SUBDOMAIN=<VITE_CLOUDFLARE_CUSTOMER_SUBDOMAIN>

# DB Migrations
DBMATE_MIGRATIONS_DIR="./migrations"
DBMATE_SCHEMA_FILE="./schema.sql"

# Web3
VITE_MOONBEAM_RPC_URL=<VITE_MOONBEAM_RPC_URL>
VITE_MOONBEAM_CHAIN_ID=<VITE_MOONBEAM_CHAIN_ID>

# Email
RESEND_API_KEY=<RESEND_API_KEY>
NOTIFICATION_EMAIL_SENDER=<NOTIFICATION_EMAIL_SENDER>
NOTIFICATION_EMAIL_RECIPIENT=<NOTIFICATION_EMAIL_RECIPIENT>
